<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Стол</string>
		<key>info</key>
		<string>Мебельное изделие, имеющее приподнятую горизонтальную или наклонную поверхность, предназначенную для размещения на ней предметов и (или) для выполнения работ, принятия пищи, игр, рисования, обучения и другой деятельности.</string>
		<key>price</key>
		<integer>3000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Стул</string>
		<key>info</key>
		<string>Мебель, предназначенная для сидения одного человека, со спинкой и сиденьем с подлокотниками или без них.</string>
		<key>price</key>
		<integer>1500</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Квартира</string>
		<key>info</key>
		<string>Один из видов жилого помещения, состоящий из одной или нескольких смежных комнат с отдельным наружным выходом, составляющее отдельную часть дома.</string>
		<key>price</key>
		<integer>10000000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Машина</string>
		<key>info</key>
		<string>Техническое устройство, выполняющее механические движения для преобразования энергии, материалов и информации.</string>
		<key>price</key>
		<integer>500000</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Карандаш</string>
		<key>info</key>
		<string>Инструмент в виде стержня, изготавливаемого из пишущего материала (угля, графита, сухих красок и тому подобного).</string>
		<key>price</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
